<p id="notice"><%= notice %></p>

<p>
  <strong>Entrytime:</strong>
  <%= @server_log_entry.entrytime %>
</p>

<p>
  <strong>Flags:</strong>
  <%= @server_log_entry.flags %>
</p>

<p>
  <strong>Source:</strong>
  <%= @server_log_entry.source %>
</p>

<p>
  <strong>Message:</strong>
  <%= @server_log_entry.message %>
</p>

<%= link_to 'Edit', edit_server_log_entry_path(@server_log_entry) %> |
<%= link_to 'Back', server_log_entries_path %>
