<div id="pane<%= @paneCounter %>" class="windowPane ui-widget-content">
	<div class="paneHeader ui-widget-header"><span class="paneTitle"><%= @paneTitle %></span>
		<div class="paneBox"><span class="paneMinimize ui-icon ui-icon-minus"></span><span class="paneMinMax paneMaximize ui-icon ui-icon-extlink"></span><span class="paneClose ui-icon ui-icon-close"></span>
		</div>
		<div class="clearIcons"></div>
	</div>
	<div id="tabBar<%= @paneCounter %>" class="tabBar">

		<ul class="menuList jstree-drop">
			<li class="addNewTab"><a href="#addTab<%= @paneCounter %>"><span class="ui-icon ui-icon-folder-open"></span><p class="addTabText">+Add Tab</p></a></li>
		</ul>
		<div id="addTab<%= @paneCounter %>" class="addTabAria">
		    <p class="addTabIntro">Drag a file onto the tab bar above, or click the "Add Tab" button to get started. The contents will appear here. You can add any type of content to this window pane. Files, Chats, Video; whatever you've got.</p>
		</div>

	</div>
</div>
