<div id="<%= @chatTarget %>_Container" class="cContainer" chatRoom="<%= @chatTarget %>">
<div class="cOutputs" chatRoom="<%= @chatTarget %>">
<div id="<%= @chatTarget %>_ChatBox" class="cChatBox" chatRoom="<%= @chatTarget %>"></div>
<div id="<%= @chatTarget %>_UserBox" class="cUserBox" chatRoom="<%= @chatTarget %>"></div>
<div style="clear:both;"></div>
</div>
<div id="<%= @chatTarget %>_InputBoxContainer" class="cInputBoxContainer" chatRoom="<%= @chatTarget %>">
<input chatRoom="<%= @chatTarget %>" class="cInputbox" id="<%= @chatTarget %>_InputBox" type="text" role="textbox" value="" />
</div>
</div>
