<p id="notice"><%= notice %></p>
<div id="projectSpace">
<table id="userUserInfo">
<tr><td><strong>Name:</strong></td><td><%= link_to @user.name, @user %></td></tr>
<tr><td><strong>Email:</strong></td><td><%=
if (@user.unconfirmed_email && @user.unconfirmed_email.length)
  email = @user.unconfirmed_email  + "(Unconfirmed)"
else
  email = @user.email
end
email
%></td></tr>
<tr><td><strong>IP Address:</strong></td><td><%= @user.current_sign_in_ip %></td></tr>
</table>

  <h2>Projects you own: (<%= @myProjects.count.to_s %>)</h2>
    <table id="userProjectsOwned">
      <thead>
        <tr>
          <td>Name</td>
          <td>Users</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
  <% @myProjects.each do |proj| %>
        <tr>
          <td><%= link_to proj.name, proj %></td>
          <td>(<%= proj.Users.count.to_s %>): 
            <% proj.Users.each do |user| %>
            <%= link_to user.name, user, {:class => 'userLink'} %>
            <% end %>
          </td>
          <td>
            <% @projects_user = ProjectsUser.new() %>
            Invite user: <%= render :partial => "/projects_user/inviteUserToProject", :locals =>  { :project_id => proj.id }, :object => @projects_user %> <br/>
            <!--Give Project: <!-- %= render :partial => "/projects/giveOwnership", :locals => { :project_id => proj.id } %>-->
          </td>
        </tr>
  <% end %>
      </tbody>
    </table>
  


    <div>
      <h2>Projects you're engaged in: (<%= @user.Projects.count.to_s %>)</h2>
      <table id="userProjectsEngaged">
          <thead>
            <tr>
              <td>Name</td>
              <td>Users</td>
              <td>Actions</td>
            </tr>
          </thead>
          <tbody>
      <% @user.Projects.each do |proj| %>
      <tr><td><%= link_to proj.name, proj %></td>
        <td>(<%= proj.Users.count.to_s %>):
          <% proj.Users.each do |user| %>
          <%= link_to user.name, user, {:class => 'userLink'} %>
          <% end %>
        </td>
        <td>
                Leave Project
        </td>
      </tr>
      <% end %>
    </div>
</div>